<!DOCTYPE html>
<html>
<head>
    <title>SQL University Database</title>
</head>
<body>
<table>
    <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP</th>
        <th>Phone Number</th>
        <th>Advisor</th>
        <th>Major</th>
    </tr>
    {% for r in output %}
    <tr>
        <td>{{ r.StudentID }}</td>
        <td>{{ r.FirstName }}</td>
        <td>{{ r.MiddleName }}</td>
        <td>{{ r.LastName }}</td>
        <td>{{ r.Address }}</td>
        <td>{{ r.City }}</td>
        <td>{{ r.State }}</td>
        <td>{{ r.ZIP }}</td>
        <td>{{ r.PhoneNumber }}</td>
        <td>{{ r.Advisor }}</td>
        <td>{{ r.Major }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>