<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>SQL University Students Table</h2>

<table>
  <tr>
    <th>StudentID</th>
    <th>FirstName</th>
    <th>MiddleName</th>
    <th>LastName</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>ZIP</th>
    <th>Phone Number</th>
    <th>Advisor</th>
    <th>Major</th>
  </tr>
  <tr>
    <td>24307004</td>
    <td>Howard</td>
    <td></td>
    <td>Ross</td>
    <td>942 9th Ave NE</td>
    <td>Rochester</td>
    <td>Minnesota</td>
    <td>55906</td>
    <td>5072818394</td>
    <td>John Bartucz</td>
    <td>Computer Science</td>
  </tr>
  <tr>
    <td>24307005</td>
    <td>Ann</td>
    <td>Marie</td>
    <td>Cohen</td>
    <td>710 10th St SW</td>
    <td>Pine Island</td>
    <td>Minnesota</td>
    <td>55963</td>
    <td>5077320987</td>
    <td>Chi-Cheng Lin</td>
    <td>Computer Science</td>
  </tr>
  <tr>
    <td>24307006</td>
    <td>Edward</td>
    <td></td>
    <td>Wilkerson</td>
    <td>5269 Ridgeview Dr NW</td>
    <td>Rochester</td>
    <td>Minnesota</td>
    <td>55901</td>
    <td>5072819532</td>
    <td>Nicole Anderson</td>
    <td>Computer Science</td>
  </tr>
  <tr>
    <td>24307007</td>
    <td>Lawrence</td>
    <td></td>
    <td>Cunningham</td>
    <td>307 6th St NW</td>
    <td>Kasson</td>
    <td>Minnesota</td>
    <td>55944</td>
    <td>5076346291</td>
    <td>John Bartucz</td>
    <td>Computer Science</td>
  </tr>
</table>

</body>
</html>